* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin: 0px 5px 10px 5px;
  border-bottom: 1px dotted bisque;
}
nav .nav-item:hover {
  border: 1px solid white;
  border-radius: 10px;
}
nav .nav-link {
  color: lightyellow;
  font-size: 20px;
  font-weight: bold;
}
nav .navbar-brand {
  color: lightyellow;
  font-size: 20px;
  font-weight: bold;
}
nav .navbar-brand:hover {
  border: 1px solid white;
  border-radius: 10px;
}

footer {
  margin: 100px;
}
footer .foot_conteiner {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  footer .foot_conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

body {
  background-color: black;
}
body h1 {
  font-size: 120px;
  font-family: "Dancing Script", cursive;
  color: white;
  text-shadow: grey 7px 7px;
  text-align: center;
  margin: 50px;
}
body .carousel-inner {
  height: 800px;
}
body .carousel-item {
  height: 800px;
}
body .carousel-item img {
  height: 800px;
  object-fit: cover;
}
body h2 {
  font-size: 50px;
  margin: 40px;
}
body .descripcion {
  color: white;
  text-align: center;
}
body .descripcion p {
  font-size: 30px;
}
body h3 {
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 30px;
}
body .horario {
  color: white;
  text-align: center;
}
body .horario p {
  font-size: 25px;
}
body .card-body1 {
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 320px;
  margin-left: 200px;
}
body .card-body1 .card-title {
  text-align: center;
  padding: 5px;
}
body .card-body1 .card-text {
  text-align: center;
  padding: 10px;
}
body .card-body2 {
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 320px;
  margin-left: 700px;
}
body .card-body2 .card-title {
  text-align: center;
  padding: 5px;
}
body .card-body2 .card-text {
  text-align: center;
  padding: 10px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 40px;
}

.menu_conteiner {
  color: white;
  background-color: black;
  border: 1px solid white;
  margin: 30px;
  padding: 50px;
}
.menu_conteiner h3 {
  text-align: center;
  font-size: 40px;
  color: gold;
}
.menu_conteiner p {
  text-align: center;
  font-size: 25px;
}
.menu_conteiner .menu__items {
  text-align: left;
  margin-left: 250px;
}
.menu_conteiner span {
  font-size: 20px;
}

#galeria_conteiner {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 10px;
  grid-template-rows: repeat(4, 400px);
  row-gap: 10px;
  grid-template-areas: "area1 area2 area3" "area4 area5 area6" "area7 area8 area9" "area10 area11 area12";
}
#galeria_conteiner .c1 {
  grid-area: area1;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c2 {
  grid-area: area2;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c3 {
  grid-area: area3;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c4 {
  grid-area: area4;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c5 {
  grid-area: area5;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c6 {
  grid-area: area6;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c7 {
  grid-area: area7;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c8 {
  grid-area: area8;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c9 {
  grid-area: area9;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c10 {
  grid-area: area10;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c11 {
  grid-area: area11;
  width: 100%;
  height: 100%;
}
#galeria_conteiner .c12 {
  grid-area: area12;
  width: 100%;
  height: 100%;
}

.form_conteiner {
  color: white;
  display: flex;
  justify-content: center;
}
.form_conteiner form {
  border: 1px dashed white;
  text-align: center;
  font-size: 20px;
  padding: 25px;
  width: 500px;
}

#direccion_conteiner {
  text-align: center;
}
#direccion_conteiner .direccion_item1 {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
}
#direccion_conteiner .direccion_item2 {
  color: white;
  text-align: center;
  font-size: 30px;
}
#direccion_conteiner iframe {
  width: 350px;
  height: 350px;
}

@media (max-width: 500px) {
  #galeria_conteiner {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 50px;
    margin: 60px 5px 25px 5px;
  }
  .h2 {
    font-size: 25px;
  }
  iframe {
    width: 200px;
    height: 200px;
  }
  .form_conteiner form {
    margin-left: 80px;
    border: none;
    font-size: 15px;
  }
  .form_conteiner form .mb-3 {
    width: 200px;
  }
  .menu_conteiner {
    text-align: left;
    font-size: 15px;
    margin-left: 25px;
    padding: 5px;
  }
  .menu_conteiner .menu__items {
    margin-left: 10px;
  }
  .card_conteiner {
    margin-left: 5px;
  }
  .card_conteiner .card-body1 {
    margin-left: 20px;
  }
  .card_conteiner .card-body2 {
    margin-left: 20px;
  }
}
@media (min-width: 500px) and (max-width: 801px) {
  #galeria_conteiner {
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(auto, 500px);
    grid-template-areas: "area1 area2" "area3 area4" "area5 area6" "area7 area8" "area9 area10" "area11 area12";
    padding: 30px;
  }
  #galeria_conteiner .c1 {
    grid-area: area1;
  }
  #galeria_conteiner .c2 {
    grid-area: area2;
  }
  #galeria_conteiner .c3 {
    grid-area: area3;
  }
  #galeria_conteiner .c4 {
    grid-area: area4;
  }
  #galeria_conteiner .c5 {
    grid-area: area5;
  }
  #galeria_conteiner .c6 {
    grid-area: area6;
  }
  #galeria_conteiner .c7 {
    grid-area: area7;
  }
  #galeria_conteiner .c8 {
    grid-area: area8;
  }
  #galeria_conteiner .c9 {
    grid-area: area9;
  }
  #galeria_conteiner .c10 {
    grid-area: area10;
  }
  #galeria_conteiner .c11 {
    grid-area: area11;
  }
  #galeria_conteiner .c12 {
    grid-area: area12;
  }
  #galeria_conteiner img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 2px 2px gray;
  }
  .menu_conteiner {
    text-align: left;
    font-size: 15px;
    margin-left: 15px;
    padding: 5px;
  }
  .menu_conteiner .menu__items {
    margin-left: 5px;
  }
  .form_conteiner form {
    border: none;
    text-align: left;
    font-size: 20px;
    padding: 20px;
    margin: 60px 300px 20px 170px;
  }
  .form_conteiner form .mb-3 {
    width: 200px;
  }
  .card_conteiner .card-body1 {
    margin-left: 100px;
  }
  .card_conteiner .card-body2 {
    margin-left: 350px;
  }
}
h2 {
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
}
@keyframes animacion {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
