.menu_conteiner {
    color: black;
    background: linear-gradient(to right, rgb(125, 125, 234), rgb(125, 42, 42)) url(/IMG/carta.jpg);
    font-size: 30px;
    border: 1px solid white;
    margin: 30px;
    padding: 50px;
    }
    