.menu_conteiner {
    color: black;
    background-image: radial-gradient(circle, white, grey (22, 165, 200));
    font-size: 30px;
    border: 1px solid white;
    margin: 30px;
    padding: 50px;
    h3 {
        text-align: center;
        font-size: 40px;
    }
    }
    