h3 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.menu_conteiner {
    color: white;
    background-color: black;
    border: 1px solid white;
    margin: 30px;
    padding: 50px;

    h4 {
        text-align: center;
        font-size: 40px;
    }

    p {
        text-align: center;
        font-size: 25px;
    }
}
