body {
    background-color: black;

    h1 {
        font-size: 120px;
        font-family: $font;
        color: $main-color;
        text-shadow: grey 7px 7px;
        text-align: center;
        margin: 50px;
    }
    
    .carousel-inner {
        height: 800px;
        }
        
    .carousel-item {
        height: 800px;
            
        img {
            height: 800px;
            object-fit: cover;
        }
    }

    h2 {
        font-size: 50px;
        margin: 40px;
    }

    .descripcion {
        color: white;
        text-align:center;
    
        p {
            font-size: 30px;
        }
    }

    h3 {
        font-size: 40px;
        color: white;
        text-align:center;
        padding: 30px;
    }

    .horario {
        color: white;
        text-align:center;

        p {
            font-size: 25px;
        }
    }

    .card-body1 {
        color: black;
        background-color: white;
        border-radius: 5px;
        width: 320px;
        margin-left: 200px;

        .card-title {
            text-align: center;
            padding: 5px;
        }

        .card-text {
            text-align: center;
            padding: 10px;
        }
    }

    .card-body2 {
        color: black;
        background-color: white;
        border-radius: 5px;
        width: 320px;
        margin-left: 700px;
        
        .card-title {
            text-align: center;
            padding: 5px;
        }

        .card-text {
            text-align: center;
            padding: 10px;
        }
    }
}