@media (max-width:500px) {
    #galeria_conteiner {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 50px;
    }

    .h2 {
        font-size: 25px;
        }
    
    iframe {
        width: 200px;
        height: 200px;
    }

    .form_conteiner {
        form {
            border: none;
            text-align:left ;
            font-size: 15px;
            margin: 60px 300px 20px 50px;
            

            .mb-3 {
                width: 200px;
            }  
        }
    }

    .menu_conteiner {
        text-align: left;
        font-size: 15px;
        margin-left: 5px;
        padding: 5px;
    
        .menu__items {
            margin-left: 10px;
        }
    }

    .card_conteiner {
        .card-body1{
            margin-left: 50px;   
        }   
        .card-body2{
            margin-left: 50px;
        }
    }
}

@media (min-width:500px) AND (max-width:801px) {
    #galeria_conteiner {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(auto, 500px);
        grid-template-areas: 
        'area1 area2'
        'area3 area4'
        'area5 area6'
        'area7 area8'
        'area9 area10'
        'area11 area12'
        ;
        padding: 30px;
    
            .c1 {
                grid-area: area1;
            }
        
            .c2 {
                grid-area: area2;
            }
        
            .c3 {
                grid-area: area3;
            }
        
            .c4 {
                grid-area: area4;
                }
        
            .c5 {
                grid-area: area5;
            }
        
            .c6 {
                grid-area: area6;
            }
        
            .c7 {
                grid-area: area7;
            }

            .c8 {
                grid-area: area8;
            }
        
            .c9 {
                grid-area: area9;
            }
        
            .c10 {
                grid-area: area10;
            }
        
            .c11 {
                grid-area: area11;
            }
        
            .c12 {
                grid-area: area12;
            }
        
            img {
                border-radius: 20px;
                height: 100%;
                width: 100%;
                box-shadow: 2px 2px 2px 2px gray;
            }
        }

        .menu_conteiner {
            text-align: left;
            font-size: 15px;
            margin-left: 15px;
            padding: 5px;
        
            .menu__items {
                margin-left: 5px;
            }
        }
    
    .form_conteiner {
        form {
            border: none;
            text-align:left ;
            font-size: 20px;
            padding: 20px;
            margin: 60px 300px 20px 170px;
        
            .mb-3 {
                width: 200px;
            }  
        }
    }

    .card_conteiner {

        .card-body1{
            margin-left: 100px;
        }
       
        .card-body2{
            margin-left: 350px;
        }
    }
}
  

    