.form_conteiner {
    color: white;

    form {
        border: 1px dashed white;
        text-align: center;
        font-size: 20px;
        padding: 25px;
        margin: 60px 300px 20px 300px;

        .form_item {
            input {
                text-align: justify;
            }
        }
    
    }
}   