.form_conteiner {
    color: white;
    display: flex;
    justify-content: center;

    form {
        border: 1px dashed white;
        text-align: center;
        font-size: 20px;
        padding: 25px;
        width: 500px;
    }
    
}