footer {
    margin: 40px 0px 40px 0px;

    .foot_conteiner {
        display: flex;
        justify-content: space-evenly;
        @media (max-width:500px) {
            @include flex (column, center,15px)
        }
    }
}


